---
import Layout from "../layouts/Layout.astro"
import SubirNoticia from "../cards/SubirNoticia.astro"
import ListaNoticias from "../cards/ListaNoticias.astro"
import SubirEmpresa from "../cards/SubirEmpresa.astro"
import ListaEmpresas from "../cards/ListaEmpresas.astro"
import ActualizarInfo from "../cards/ActualizarInfo.astro"
import SubirDep from "../cards/SubirDep.astro"
import ListaDep from "../cards/ListaDep.astro"
import EditarDep from "../cards/EditarDep.astro"
import ListaLinks from "../cards/ListaLinks.astro"
import SubirLink from "../cards/SubirLink.astro"
import EditarColab from "../cards/EditarColab.astro"
import SubirCol from "../cards/SubirCol.astro"
import ListaCol from "../cards/ListaCol.astro"

const url = new URL(Astro.request.url)
const panel = url.searchParams.get("panel")
const id = url.searchParams.get("id")
---

<Layout showMenu={false} showFooter={false}>

    <header class=" fixed items-center py-6 px-5 bg-white rounded-bl-[45px] z-50 shadow-md w-full top-0 ">
        <div class="flex items-center justify-between max-w-[1440px] mx-auto w-full">
            <h1 class="text-2xl font-black text-[#0d122e] text-center w-full">Panel de Administrador</h1>
            <button id="logoutButton"
            class="absolute right-5 bg-red-500 text-white font-bold py-2 px-4 rounded-md hover:bg-red-700 transition duration-300 cursor-pointer z-70">
                Cerrar Sesión
            </button>
        </div>

        <button id="menuToggle" class="lg:hidden left-0 text-white focus:outline-none cursor-pointer bg-[#0d122e] rounded-4xl p-2 hover:bg-[#00d0fe] transition-colors duration-300">
            ☰
        </button>

        <nav id="menu" class="hidden lg:flex gap-x-5 md:gap-x-6 lg:gap-x-16 xl:gap-x-28 mt-3 justify-center items-center">
            <ul class="flex gap-x-5 md:gap-x-6 lg:gap-x-10 xl:gap-x-28 mr-10 [&>li]:px-7 [&>li]:py-2 [&>li]:inline-block [&>li]:text-sm [&>li]:font-black [&>li]:text-[#0d122e] [&>li]:bg-[#00d0fe] [&>li:hover]:text-[#00d0fe] [&>li:hover]:bg-[#0d122e] [&>li]:transition-colors [&>li]:duration-300 [&>li]:rounded-4xl [&>li]:cursor-pointer">
            <li class="relative group border-white border-2 rounded-2xl items-center">
                Noticias
                <ul class="hidden group-hover:flex flex-col absolute top-full right-0 translate-x-1/2 [&>li]:items-center [&>li]:justify-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mr-4 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-scroll scrollbar-none [&>li>a]:w-auto [&>li>a]:whitespace-nowrap [&>li>a]:block">
                    <li><a href="/AdminPanel?panel=subir-noticia" >Agregar Nuevo</a></li>
                    <li><a href="/AdminPanel?panel=noticias-lista">Lista de elementos</a></li>
                </ul>
            </li>
            <li><a href="/AdminPanel?panel=quienes-somos">Quiénes somos</a></li>
            <li class="relative group border-white border-2 rounded-2xl items-center">
                Departamentos
                <ul class="hidden group-hover:flex flex-col absolute top-full left-1/2 -translate-x-1/2 [&>li]:items-center [&>li]:justify-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mr-4 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-scroll scrollbar-none [&>li>a]:w-auto [&>li>a]:whitespace-nowrap [&>li>a]:block z-10">
                    <li><a href="/AdminPanel?panel=subir-departamento" >Agregar Nuevo</a></li>
                    <li><a href="/AdminPanel?panel=departamentos-lista">Lista de elemenetos</a></li>
                </ul>
            </li>
            <li class="relative group border-white border-2 rounded-2xl items-center">
                Links
                <ul class="hidden group-hover:flex flex-col absolute top-full left-1/2 -translate-x-1/2 [&>li]:items-center [&>li]:justify-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mr-4 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-scroll scrollbar-none [&>li>a]:w-auto [&>li>a]:whitespace-nowrap [&>li>a]:block z-10">
                    <li><a href="/AdminPanel?panel=subir-link" >Agregar Nuevo</a></li>
                    <li><a href="/AdminPanel?panel=links-lista">Lista de elementos</a></li>
                </ul>
            </li>
            <li class="relative group border-white border-2 rounded-2xl items-center">
                Marcas
                <ul class="hidden group-hover:flex flex-col absolute top-full left-1/2 -translate-x-1/2 [&>li]:items-center [&>li]:justify-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mr-4 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-scroll scrollbar-none [&>li>a]:w-auto [&>li>a]:whitespace-nowrap [&>li>a]:block">
                    <li><a href="/AdminPanel?panel=subir-empresa" >Agregar Nuevo</a></li>
                    <li><a href="/AdminPanel?panel=empresas-lista">Lista de elementos</a></li>
                </ul>
            </li>
            <li class="relative group border-white border-2 rounded-2xl items-center">
                Nuevos Colaboradores
                <ul class="hidden group-hover:flex flex-col absolute top-full left-1/2 -translate-x-1/2 [&>li]:items-center [&>li]:justify-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mr-4 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-scroll scrollbar-none [&>li>a]:w-auto [&>li>a]:whitespace-nowrap [&>li>a]:block">
                    <li><a href="/AdminPanel?panel=subir-plantilla" >Agregar Nuevo</a></li>
                    <li><a href="/AdminPanel?panel=colaboradores-lista">Lista de elementos</a></li>
                </ul>
            </li>
            </ul>
        </nav>
         
        <div id="menuVert" class="lg:hidden hidden absolute flex-1">
            
            <aside class="bg-white w-52 pt-6 py-5 h-auto z-40 rounded-br-2xl">
                <nav>
                    <ul class="[&>li]:bg-[#00d0fe] [&>li:hover]:text-[#00d0fe] [&>li:hover]:bg-[#0d122e] [&>li]:transition-colors [&>li]:duration-300 [&>li]:rounded-4xl [&>li]:cursor-pointer [&>li]:text-[#0d122e] [&>li]:hover:bg-[#00d0fe] [&>li]:hover:text-[#0d122e] [&>li]:mb-5 [&>li]:mx-4 [&>li]:py-2 [&>li]:font-black [&>li]:text-lg text-center w-full">
                        <li class="relative group flex items-center justify-center">
                            Noticias
                            <ul class="hidden group-hover:flex absolute left-full top-1/2 -translate-y-1/2 [&>li]:items-center [&>li]:justify-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mr-4 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-scroll scrollbar-none [&>li>a]:w-auto [&>li>a]:whitespace-nowrap [&>li>a]:block">
                            <li><a href="/AdminPanel?panel=subir-noticia" >Agregar Nuevo</a></li>
                            <li><a href="/AdminPanel?panel=noticias-lista">Lista de elementos</a></li>
                            </ul>
                        </li>
                        <li><a href="/AdminPanel?panel=quienes-somos">Quiénes somos</a></li>
                        <li class="relative group flex items-center justify-center">
                            Departamentos
                            <ul class="hidden group-hover:flex absolute left-full top-1/2 -translate-y-1/2 [&>li]:items-center [&>li]:justify-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mr-4 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-scroll scrollbar-none [&>li>a]:w-auto [&>li>a]:whitespace-nowrap [&>li>a]:block z-10">
                                <li><a href="/AdminPanel?panel=subir-departamento" >Subir Nuevo</a></li>
                                <li><a href="/AdminPanel?panel=departamentos-lista">Lista de elementos</a></li>
                            </ul>
                        </li>
                        <li class="relative group flex items-center justify-center">
                            Links
                            <ul class="hidden group-hover:flex absolute left-full top-1/2 -translate-y-1/2 [&>li]:items-center [&>li]:justify-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mr-4 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-scroll scrollbar-none [&>li>a]:w-auto [&>li>a]:whitespace-nowrap [&>li>a]:block z-10">
                                <li><a href="/AdminPanel?panel=subir-link" >Subir Nuevo</a></li>
                                <li><a href="/AdminPanel?panel=links-lista">Lista de elementos</a></li>
                            </ul>
                        </li>
                        <li class="relative group flex items-center justify-center">
                            Empresas
                            <ul class="hidden group-hover:flex absolute left-full top-1/2 -translate-y-1/2 [&>li]:items-center [&>li]:justify-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mr-4 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-scroll scrollbar-none [&>li>a]:w-auto [&>li>a]:whitespace-nowrap [&>li>a]:block">
                                <li><a href="/AdminPanel?panel=subir-empresa" >Subir Nuevo</a></li>
                                <li><a href="/AdminPanel?panel=empresas-lista">Lista de elementos</a></li>
                            </ul>
                        </li>
                        <li class="relative group flex items-center justify-center">
                            Colaboradores
                            <ul class="hidden group-hover:flex absolute left-full top-1/2 -translate-y-1/2 [&>li]:items-center [&>li]:justify-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mr-4 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-scroll scrollbar-none [&>li>a]:w-auto [&>li>a]:whitespace-nowrap [&>li>a]:block">
                                <li><a href="/AdminPanel?panel=subir-plantilla" >Agregar Nuevo</a></li>
                                <li><a href="/AdminPanel?panel=colaboradores-lista">Lista de elementos</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </aside> 
        </div>
    </header>
    
    
    

    <main class="flex-1 p-10 mt-24">
        <!-- Aquí se mostrará el contenido dinámico según el ítem seleccionado -->
        {panel === 'subir-empresa' && <SubirEmpresa />}
        {panel === 'subir-noticia' && <SubirNoticia />}
        {panel === 'noticias-lista' && <ListaNoticias />}
        {panel === 'empresas-lista' && <ListaEmpresas />}
        {panel === 'quienes-somos' && <ActualizarInfo />}
        {panel === 'subir-departamento' && <SubirDep />}
        {panel === 'departamentos-lista' && <ListaDep />}
        {panel === 'editar-dep' && id && <EditarDep id={Number(id)} />}
        {panel === 'links-lista' && <ListaLinks />}
        {panel === 'subir-link' && <SubirLink />}
        {panel === 'editar-colaboradores' && <EditarColab />}
        {panel === 'subir-plantilla' && <SubirCol />}
        {panel === 'colaboradores-lista' && <ListaCol />}
    </main>

</div>
</Layout>


<script>
    const URLBACK=import.meta.env.PUBLIC_BACKEND_URL || 'http://localhost'

    function sesion(){
        fetch(`${URLBACK}/protegida`, {
            method: 'GET',
            credentials: 'include'
        })
        .then(response => {
        if (!response.ok) {
            alert('Sesión expirada. Por favor, vuelve a iniciar sesión.')
            // Si no está autorizado, redirige al login
            window.location.href = '/Admin'
        } else {
            return response.json()
        }
        })
        .then(data => {
        console.log('Bienvenido:', 'user')
        })
        .catch(error => {
            console.error('Error al verificar sesión:', error)
            window.location.href = '/Admin'
        })
    }

    sesion()
    setInterval(sesion, 60000) // Verifica la sesión cada minuto

    document.querySelector('#logoutButton')!.addEventListener('click', async() => {
        try {
        const response = await fetch(`${URLBACK}/logout`, {
            method: 'POST',
            credentials: 'include' // Incluye cookies en la solicitud
        })

        if (response.ok) {
            window.location.href = '/'; // Redirige después de logout
        } else {
            console.error('Error en la respuesta del servidor al cerrar sesión')
        }
        } catch (error) {
        console.error('Error al cerrar sesión:', error)
        }
    })

    const toggle = document.getElementById('menuToggle')
    const mobileMenu = document.getElementById('menuVert')

    toggle?.addEventListener('click', () => {
        mobileMenu?.classList.toggle('hidden')
    })
</script>
