---
import Layout from "../layouts/Layout.astro"
---

<Layout showMenu={false}>
    <div class=" flex py-6 px-5 bg-white rounded-bl-4xl ">
        <h1 class="text-2xl font-black text-center justify-center text-[#0d122e]">Panel de Administrador</h1>
        <button id="logoutButton" class="bg-red-500 text-white font-bold py-2 px-4 rounded-md hover:bg-red-700 transition duration-300 cursor-pointer justify-end z-70">Cerrar Sesión</button>
    </div>
    <aside class="bg-[#0d122e] h-screen w-52 fixed left-0 z-50">
        <nav>
            <ul class="items-center border-white border-2 rounded-2xl [&>li]:bg-white [&>li]:text-[#0d122e] [&>li]:hover:bg-[#00d0fe] [&>li]:hover:text-[#0d122e] [&>li]:mb-5 [&>li]:px-4 [&>li]:py-2 [&>li]:rounded-4xl [&>li]:font-black [&>li]:text-lg">
                <li>
                    noticias
                </li>
                <li>
                    quienes somos
                </li>
                <li>
                    departamentos
                </li>
                <li>
                    links
                </li>
                <li>
                    otros
                </li>
            </ul>
        </nav>
    </aside>
</Layout>


<script>
    const URLBACK=import.meta.env.PUBLIC_BACKEND_URL || 'http://localhost'

    fetch(`${URLBACK}/protegida`, {
        method: 'GET',
        credentials: 'include'
    })
    .then(response => {
    if (!response.ok) {
        // Si no está autorizado, redirige al login
        window.location.href = '/Admin';
    } else {
        return response.json();
    }
    })
    .then(data => {
    console.log('Bienvenido:', data.username);
    })
    .catch(error => {
        console.error('Error al verificar sesión:', error);
        window.location.href = '/Admin';
    });

    document.querySelector('#logoutButton')!.addEventListener('click', async() => {
        try {
        const response = await fetch(`${URLBACK}/logout`, {
            method: 'POST',
            credentials: 'include' // Incluye cookies en la solicitud
        });

        if (response.ok) {
            window.location.href = '/Admin'; // Redirige después de logout
        } else {
            console.error('Error en la respuesta del servidor al cerrar sesión');
        }
        } catch (error) {
        console.error('Error al cerrar sesión:', error);
        }
    });

    // Función para subir noticia
    async function subirNoticia(nuevaNoticia: FormData) {
        const response = await fetch(`${URLBACK}/subir-noticia`, {
            method: 'POST',
            credentials: 'include', // Incluye cookies en la solicitud
            body: nuevaNoticia
        });

        if (!response.ok) {
            throw new Error('Error al subir noticia');
        }

        const noticiaCreada = await response.json();
        console.log('Noticia subida exitosamente:', noticiaCreada);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#noticiaForm') as HTMLFormElement;

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevenir que recargue la página

            const titulo = (document.querySelector('#titulo') as HTMLInputElement).value;
            const descripcion = (document.querySelector('#descripcion') as HTMLTextAreaElement).value;

            const imagenInput = document.querySelector('#imagen') as HTMLInputElement;
            const videoInput = document.querySelector('#video') as HTMLInputElement;
            const documentoInput = document.querySelector('#documento') as HTMLInputElement;

            let tipo_contenido = '';
            let contenido: File | null = null;

            // Revisamos qué archivo subieron
            if (imagenInput &&  imagenInput.files && imagenInput.files.length > 0) {
                tipo_contenido = 'imagen';
                contenido = imagenInput.files[0];
            } else if (videoInput && videoInput.files && videoInput.files.length > 0) {
                tipo_contenido = 'video';
                contenido = videoInput.files[0];
            } else if (documentoInput && documentoInput.files && documentoInput.files.length > 0) {
                tipo_contenido = 'texto';
                contenido = documentoInput.files[0];
            } else {
                alert('Debes subir al menos un archivo (imagen, video o documento)');
                return;
            }

            const nuevaNoticia = new FormData() 

            nuevaNoticia.append('titulo', titulo)
            nuevaNoticia.append('descripcion', descripcion)
            nuevaNoticia.append('tipo_contenido', tipo_contenido)
            if (contenido) {
                nuevaNoticia.append('contenido', contenido)
            }

            try {
                await subirNoticia(nuevaNoticia);
                alert('Noticia subida correctamente.');
                formulario.reset(); // Limpiar formulario
            } catch (error) {
                console.error(error);
                alert('Error al subir noticia.');
            }
        });
    });

    interface Link{
        id: number
        name: string
        link: string
    }

    // Función para subir link 
    async function subirLinkInterno(nuevoLink:Link) {
        const response = await fetch(`${URLBACK}/links/`, {
            method: 'POST',
            credentials: 'include', // Incluye cookies en la solicitud
            headers: {
                'content-type': 'application/json',
            },
            body: JSON.stringify(nuevoLink)
        });

        if (!response.ok) {
            throw new Error('Error al subir link');
        }
        const noticiaCreada = await response.json();
        console.log('link subida exitosamente:', noticiaCreada);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#linkForm') as HTMLFormElement;

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevenir que recargue la página

            const nombre = (document.querySelector('#nombre') as HTMLInputElement).value;
            const url = (document.querySelector('#url') as HTMLInputElement).value;

            const nuevoLink = {
                name: nombre,
                link: url
            } as Link;

            try {
                await subirLinkInterno(nuevoLink);
                alert('Link subido correctamente.');
                formulario.reset(); // Limpiar formulario
            } catch (error) {
                console.error(error);
                alert('Error al subir link.');
            }
        });
    });

    //función para subir cumpleaños
    async function subirCumpleanos(nuevoCumpleanos: FormData) {
        const response = await fetch(`${URLBACK}/birthday/`, {
            method: 'POST',
            credentials: 'include', // Incluye cookies en la solicitud
            body: nuevoCumpleanos
        });

        if (!response.ok) {
            throw new Error('Error al subir el cumpleaños');
        }

        const cumpleanosCreado = await response.json();
        console.log('cumpleanos subido exitosamente:', cumpleanosCreado);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#birthdayForm') as HTMLFormElement;

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevenir que recargue la página

            const descripcion = (document.querySelector('#descripcionC') as HTMLTextAreaElement).value;
            const imagenInput = document.querySelector('#imagenC') as HTMLInputElement;

            const archivo = imagenInput.files?.[0]

            if (!archivo && !descripcion) {
                alert('Por favor selecciona una imagen o agrega una descripción');
                return;
            }

            const formData = new FormData();
            if (descripcion) formData.append('descripcion', descripcion);
            if (archivo) formData.append('contenido', archivo);

            try {
                await subirCumpleanos(formData);
                alert('Cumpleaños subido correctamente.');
                formulario.reset(); // Limpiar el formulario
            } catch (error) {
                console.error('Error al subir el cumpleaños:', error);
                alert('Error al subir el cumpleaños.');
            }

        })
    })

    // Función para subir colaboradores
    async function subirColaboradores(nuevoTeam: FormData) {
        const response = await fetch(`${URLBACK}$/team/`, {
            method: 'POST',
            credentials: 'include', // Incluye cookies en la solicitud
            body: nuevoTeam
        });

        //console.log(response)

        if (!response.ok) {
            throw new Error('Error al subir el colaborador');
        }

        const colaboradorCreado = await response.json();
        console.log('cumpleanos subido exitosamente:', colaboradorCreado);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#colaboradorForm') as HTMLFormElement;

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevenir que recargue la página

            const descripcion = (document.querySelector('#descripcionCol') as HTMLTextAreaElement).value;
            const imagenInput = document.querySelector('#imagenCol') as HTMLInputElement;

            const archivo = imagenInput.files?.[0]

            if (!archivo && !descripcion) {
                alert('Por favor selecciona una imagen o agrega una descripción');
                return;
            }

            const formData = new FormData();
            if (descripcion) formData.append('descripcion', descripcion);
            if (archivo) formData.append('contenido', archivo);

            try {
                await subirColaboradores(formData);
                alert('colaborador subido correctamente.');
                formulario.reset(); // Limpiar el formulario
            } catch (error) {
                console.error('Error al subir el colaborador:', error);
                alert('Error al subir el colaborador.');
            }

        })
    })

    // Función para subir empresa
    async function subirCo(nuevaCo: FormData) {
        const response = await fetch(`${URLBACK}/company/`, {
            method: 'POST',
            credentials: 'include', // Incluye cookies en la solicitud
            body: nuevaCo
        });

        //console.log(response)

        if (!response.ok) {
            throw new Error('Error al subir la empresa');
        }

        const CoCreada = await response.json();
        console.log('empresa subida exitosamente:', CoCreada);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#EmpresaForm') as HTMLFormElement;

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevenir que recargue la página

            const contenido = (document.querySelector('#urlE') as HTMLTextAreaElement).value;
            const imagenInput = document.querySelector('#imagenE') as HTMLInputElement;

            const archivo = imagenInput.files?.[0]

            if (!archivo) {
                alert('Por favor selecciona una imagen');
                return;
            }

            const formData = new FormData();
            formData.append('contenido', contenido);
            formData.append('imagen', archivo);

            try {
                await subirCo(formData);
                alert('empresa subida correctamente.');
                formulario.reset(); // Limpiar el formulario
            } catch (error) {
                console.error('Error al subir la empresa:', error);
                alert('Error al subir la empresa.');
            }

        })
    })


    // Función para subir departamento
    async function subirDep(nuevoDep: FormData) {
    const response = await fetch(`${URLBACK}/departamento/`, {
        method: 'POST',
        credentials: 'include',
        body: nuevoDep
        });

        if (!response.ok) {
            throw new Error('Error al subir departamento');
        }

        const departamentoCreado = await response.json();
        console.log('Departamento subido exitosamente:', departamentoCreado);
    }

    document.addEventListener('DOMContentLoaded', () => {
        const formulario = document.querySelector('#depForm') as HTMLFormElement;

        formulario.addEventListener('submit', async (event) => {
            event.preventDefault();

            const titulo = (document.querySelector('#tituloD') as HTMLInputElement).value
            const descripcion = (document.querySelector('#descripcionD') as HTMLTextAreaElement).value

            const imagenInput = document.querySelector('#imagenD') as HTMLInputElement;
            const file = document.querySelector('#archivoD') as HTMLInputElement;
            const urlInput = document.querySelector('#urlD') as HTMLInputElement
            const nombreLinkInput = document.querySelector('#nombreDL') as HTMLInputElement

            const imagen = imagenInput.files?.[0];
            const link_file = file.files?.[0];
            const link_url = urlInput.value.trim();
            const titulo_link = nombreLinkInput.value.trim()

            if (!imagen) {
                alert('Debes subir una imagen');
                return;
            }

            const nuevoDep = new FormData();
            nuevoDep.append('titulo', titulo);
            nuevoDep.append('descripcion', descripcion);
            nuevoDep.append('imagen', imagen);

            if (titulo_link !== "") {
                nuevoDep.append('titulo_link', titulo_link);
                if (link_file && link_url) {
                    alert('Solo puedes agregar un archivo o una URL, no ambos.');
                    return;
                }

                if (link_file) {
                    nuevoDep.append('link_file', link_file);
                } else if (link_url) {
                    nuevoDep.append('link_url', link_url);
                } else {
                    alert('Si agregas un nombre de link, debes subir un archivo o proporcionar una URL.');
                    return;
                }
            }

            try {
                await subirDep(nuevoDep);
                alert('Departamento subido correctamente.');
                formulario.reset();
            } catch (error) {
                console.error(error);
                alert('Error al subir Departamento.');
            }
        });
    });

</script>