---
import Layout from "../layouts/Layout.astro";
---

<Layout showFooter={false}>
    <section class="w-full h-auto flex flex-col items-center justify-center mt-32">
        <h1 class="text-5xl text-white font-black">Departamentos</h1>
    </section>
    <section class="w-full justify-center justify-items-center">
        <section id="contenedorDep" class="min-h-screen max-w-[1920px] mt-5 py-5 px-10 grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1  gap-4 text-sky-300 justify-items-center">

        </section>
    </section>

    <script>
        const URLBACK = import.meta.env.PUBLIC_BACKEND_URL || 'http://localhost'
        interface Departamento {
            id: number
            titulo: string
            descripcion: string
            slug: string
            imagen: string
            fecha_creacion: string
        }
    
        const contenedor = document.getElementById('contenedorDep') as HTMLElement

        document.addEventListener('DOMContentLoaded', async () => {
        try {
            await cargarDepartamentos()
        } catch (error) {
            console.error("Error al cargar departamentos:", error)
        }
        })

        async function cargarDepartamentos(): Promise<Departamento[]> {
            const response = await fetch(`${URLBACK}/departamento/cards`, {
                    credentials: 'include'
                })
            if (!response.ok) throw new Error('Error al obtener departamentos')

            const departamentos: Departamento[] = await response.json()
            if (!contenedor) return []

            contenedor.innerHTML = ''
            departamentos.sort((a, b) => new Date(b.fecha_creacion).getTime() - new Date(a.fecha_creacion).getTime())

            departamentos.forEach(dep => {
                const card = document.createElement('div')
                card.className = 'bg-black/50 rounded-lg w-full h-auto max-w-sm gap-4 mx-2 flex flex-col'
                card.innerHTML = `
                <figure class="w-full h-64 overflow-hidden">
                    <img src="${dep.imagen}" alt="Imagen de departamento" class="object-cover w-full h-full">
                </figure>

                <div class="p-4">
                    <a href="/departamento/${dep.slug}">
                        <h2 class="text-xl font-medium mb-2 text-gray-200 hover:scale-105 transition duration-150">${dep.titulo}</h2>
                    </a>
                    <p class="text-gray-200 text-sm mb-3">${dep.descripcion}</p>
                </div>
                `
                contenedor.appendChild(card)
            })
            return departamentos
        }
    </script>
</Layout>