---
import Layout from "../layouts/Layout.astro"
---
<Layout>
    <section class="w-full h-96 flex flex-col items-center justify-center">
        <h1 class="text-5xl text-white font-black">Novedades</h1>
    </section>
    <section class="w-full justify-center justify-items-center">
        <section id="contenedorNoticias" class="min-h-screen max-w-[1920px] mt-36 py-5 px-10 grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1  gap-4 text-sky-300 justify-items-center">

        </section>
    </section>

    <script>
        const URLBACK=import.meta.env.PUBLIC_BACKEND_URL || 'http://localhost'
        declare global {
            interface Window {
                eliminarNoticia: (id: number) => Promise<void>;
            }
        }
        interface Noticia {
            id: number;
            titulo: string;
            descripcion: string;
            tipo_contenido: string;
            contenido: string;
            fecha_creacion: string;
        }       
    
        async function cargarNoticias() {
            const response = await fetch(`${URLBACK}/noticias`, {
                credentials: 'include'
            });
            if (!response.ok) {
                console.error('Error al obtener noticias');
                return;
            }
            
            const noticias: Noticia[] = await response.json();
    
            // Ordenar por fecha más reciente primero
            noticias.sort((a, b) => new Date(b.fecha_creacion).getTime() - new Date(a.fecha_creacion).getTime());
    
            const contenedorNoticias = document.getElementById('contenedorNoticias') as HTMLElement;
            contenedorNoticias.innerHTML = '';
    
            noticias.forEach((noticia) => {
                const card = document.createElement('div');
                card.className = 'bg-blue-600/10 rounded-lg shadow-md overflow-hidden w-full max-w-sm mb-4 mx-2';
    
                let contenidoHTML = ""

                if (noticia.tipo_contenido === 'imagen') {
                    contenidoHTML = `
                        <img src="${noticia.contenido}" alt="Imagen de Noticia" class="object-contain w-full h-64">
                    `;
                } else if (noticia.tipo_contenido === 'video') {
                    contenidoHTML = `
                        <video controls class="w-full h-64">
                            <source src="${noticia.contenido}" type="video/mp4">
                            Tu navegador no soporta videos.
                        </video>
                    `;
                } else if (noticia.tipo_contenido === 'texto') {
                    contenidoHTML = `
                        <div class="w-full h-64 bg-gray-200/70 flex items-center justify-center text-2xl text-blue-600 font-semibold text-center p-4 bg-black/40 ">
                        <a href="${noticia.contenido}" target="_blank" class="hover:underline"><img src="/images/LogoBanner.png" class="object-contain w-full h-auto">Lea aquí</a>
                        </div>
                    `;
                }
    
                card.innerHTML = `
                    <div class="w-full bg-gray-200/70 overflow-hidden">
                        ${contenidoHTML}
                    </div>
                    <div class="p-4">
                        <h2 class="text-xl font-medium mb-2 text-gray-200">${noticia.titulo}</h2>
                        <p class="text-gray-200 text-sm mb-3">${noticia.descripcion}</p>
                        ${tokenValido ? `<button onclick="eliminarNoticia(${noticia.id})" class="bg-red-500 text-white px-4 py-2 rounded cursor-pointer hover:bg-red-800 transition duration-300 ease-in-out">Eliminar</button>` : ""}
                    </div>
                `;
    
                contenedorNoticias.appendChild(card);
            });
        }

        // Función para eliminar la noticia
        async function eliminarNoticia(id: number) {
            console.log("Eliminando noticia con ID:", id);
            const response = await fetch(`${URLBACK}/eliminar-noticia/${id}`, {
                method: 'DELETE',
                credentials: 'include' // Incluye cookies en la solicitud
            });

            if (response.ok) {
                alert('Noticia eliminada');
                cargarNoticias(); // Recargar las noticias
            } else {
                alert('Error al eliminar la noticia');
            }
        }

        window.eliminarNoticia = eliminarNoticia;

        document.addEventListener('DOMContentLoaded', async () => {
            await verificarToken();
            cargarNoticias();
        });

        let tokenValido = false; // Variable para almacenar el estado del token

        async function verificarToken() {
            try {
                const response = await fetch(`${URLBACK}/protegida`, {
                    credentials: 'include' // Incluye cookies en la solicitud
                });

                tokenValido = response.ok;
            } catch (error) {
                tokenValido = false;
                console.error('Error al verificar el token:', error);
            }
        }
    </script>
    
    
</Layout>