<section class="w-full">
    <section class="w-full py-5 px-10 justify-items-center text-gray-200">
        <div class="relative overflow-hidden px-[10vw] py-5 w-full max-w-[1920px] text-center">
            <h1 class="text-3xl font-bold mb-2">Departamentos</h1>
            <p class="text-xl">Informacion sobre Nuestros Departamentos</p>
            <button id="preBtn1" class=" absolute top-1/2 -translate-y-1/2 left-3 h-14 w-14 flex justify-center items-center z-10 rounded-2xl bg-gray-400/80 rotate-180 cursor-pointer">
              <img src="/images/arrow.png" class="opacity-20 hover:opacity-100 transition-opacity duration-200">
            </button>
      
            <button id="nxtBtn1" class=" absolute top-1/2 -translate-y-1/2 right-5 h-14 w-14 flex justify-center items-center z-10 rounded-2xl bg-gray-400/80 cursor-pointer">
              <img src="/images/arrow.png" class="opacity-20 hover:opacity-100 transition-opacity duration-200">
            </button>
            <section id="contenedorDep"  class="flex overflow-visible gap-4 mt-10 scroll-smooth scrollbar-none">
    
            </section>
        </div>
    </section>

</section>

<script>
    declare global {
        interface Window {
            eliminarDep: (id: number) => Promise<void>;
        }
    }
    interface Departamento {
        id: number;
        titulo: string;
        descripcion: string;
        slug: string;
        imagen: string;
        fecha_creacion: string;
    }

    const contenedor = document.getElementById('contenedorDep') as HTMLElement
    const preBtn = document.getElementById('preBtn1') as HTMLElement
    const nxtBtn = document.getElementById('nxtBtn1') as HTMLElement

    document.addEventListener('DOMContentLoaded', async () => {
        try {
            await verificarToken();
            await cargarDepartamentos()
            const scrollAmount = contenedor.offsetWidth/3
            preBtn.addEventListener('click', () => {
                contenedor.scrollLeft -= scrollAmount;
            });
            nxtBtn.addEventListener('click', () => {
                contenedor.scrollLeft += scrollAmount;
            });
        } catch (error) {
            console.error("Error al cargar departamentos:", error);
        }
    });

    async function cargarDepartamentos(): Promise<Departamento[]> {
        const response = await fetch('http://9.0.1.247:8081/departamento/cards', {
                credentials: 'include'
            });
        if (!response.ok) throw new Error('Error al obtener departamentos');

        const departamentos: Departamento[] = await response.json();
        if (!contenedor) return [];

        contenedor.innerHTML = '';
        departamentos.sort((a, b) => new Date(b.fecha_creacion).getTime() - new Date(a.fecha_creacion).getTime());

        departamentos.forEach(dep => {
            const card = document.createElement('div');
            card.className = 'bg-blue-600/10 rounded-lg shadow-md overflow-hidden w-72 gap-4 hover:scale-105 transition duration-300 ease-in-out flex flex-shrink-0 flex-col';
            card.innerHTML = `
            <figure class="w-full h-64 flex justify-center items-center overflow-hidden">
                <img src="${dep.imagen}" alt="Imagen de departamento" class="object-contain w-full h-full">
            </figure>
            <div class="p-4">
                 <a href="/departamento/${dep.slug}">
                    <h2 class="text-xl font-medium mb-2 text-gray-200">${dep.titulo}</h2>
                </a>
                <p class="text-gray-200 text-sm mb-3">${dep.descripcion}</p>
                ${tokenValido ? `
                <div class="flex justify-center items-center">
                    <button onclick="eliminarDep(${dep.id})" class="bg-red-500 text-white px-4 py-2 rounded cursor-pointer hover:bg-red-800 transition duration-300 ease-in-out">Eliminar</button>
                    <a class="bg-blue-500 text-white px-4 py-2 rounded cursor-pointer hover:bg-blue-700 transition duration-300 ease-in-out ml-3" href="/departamento/${dep.slug}">Editar</a>
                </div>
                ` : ""}

            </div>
            `;
            contenedor.appendChild(card);
        });
        return departamentos;
    }



    async function eliminarDep(id: number) {
        const response = await fetch(`http://9.0.1.247:8081/departamento/eliminar-dep/${id}`, {
            method: 'DELETE',
            credentials: 'include'
        });

        if (response.ok) {
            alert('Departamento eliminado');
            location.reload(); // recarga todo para evitar problemas con contenido duplicado
        }else {
            alert('Error al eliminar departamento');
        }
    }

    let tokenValido = false; // Variable para almacenar el estado del token

        async function verificarToken() {
            try {
                const response = await fetch('http://9.0.1.247:8081/protegida', {
                    credentials: 'include' // Incluye cookies en la solicitud
                });

                tokenValido = response.ok;
            } catch (error) {
                tokenValido = false;
                console.error('Error al verificar el token:', error);
            }
        }

    window.eliminarDep = eliminarDep;
</script>
