<section class="text-center flex justify-center h-24 w-full items-center fixed top-0 bg-white rounded-bl-[60px]">
    <div class="h-24 w-full flex items-center justify-between px-8 max-w-[1555px] mx-auto">
        <figure class="flex px-5 py-5">
            <img class="h-16 w-auto" src="/images/LogoBanner.png" alt="logo laGanga" />
        </figure>

        <button id="menuToggle" class="lg:hidden text-white focus:outline-none cursor-pointer bg-[#0d122e] rounded-4xl p-2 hover:bg-[#00d0fe] transition-colors duration-300">
            ☰
        </button>
        
        <nav id="menu" class="hidden z-30 lg:flex items-center justify-center">
            <ul class="flex gap-x-5 md:gap-x-6 lg:gap-x-10 xl:gap-x-20 mr-10 [&>li>a]:px-7 [&>li>a]:py-2 [&>li>a]:inline-block [&>li>a]:font-black [&>li>a]:text-[#0d122e] [&>li>a]:bg-[#00d0fe] [&>li>a:hover]:text-[#00d0fe] [&>li>a:hover]:bg-[#0d122e] [&>li>a]:transition-colors [&>li>a]:duration-300 [&>li>a]:rounded-4xl">
                <li><a class="text-sm" href="/" >Inicio</a></li>
                <li><a class="text-sm" href="/NewsPage">Novedades</a></li>
                <li><a class="text-xs" href="/NuevosColaboradores">Nuevos Colaboradores</a></li>
                <li><a class="text-xs" href="/InfoPage">Quiénes somos</a></li>
                <li class="relative group border-white border-2 rounded-2xl items-center">
                    <a class="text-sm" href="/DepPage">Departamentos</a>
                    <ul id="subLiDep" class="h-auto w-auto hidden group-hover:flex flex-col absolute top-full left-1/2 -translate-x-1/2 items-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mb-2 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-auto max-h-60  [&>li>a]:whitespace-nowrap [&>li>a]:block">
                    <!-- Aquí se cargarán dinámicamente los departamentos -->
                    </ul>
                </li>
                <li class="relative group border-white border-2 rounded-2xl items-center">
                    <a class="text-sm" href="/Links">Links</a>
                    <ul id="subLiLink" class="h-auto w-auto hidden group-hover:flex flex-col absolute top-full right-1/2 translate-x-1/2 items-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mb-2 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-auto max-h-60 [&>li>a]:whitespace-nowrap [&>li>a]:block">
                    <!-- Aquí se cargarán dinámicamente los links -->
                    </ul>
                </li>
                <!-----
                <li><a id="adminBtn" href="/Admin">Admin</a></li> descomentar si se quiere mostrar el botón de admin en la barra de navegación -->
            </ul>
        </nav>


        <!--menu horizontal cuando no entre en la pantalla -->
        <nav id="menuHor" class="lg:hidden hidden flex-col z-30 items-center justify-center">
            <ul class="flex gap-x-5 md:gap-x-6 lg:gap-x-10 xl:gap-x-20 mr-10 [&>li>a]:px-7 [&>li>a]:py-2 [&>li>a]:inline-block [&>li>a]:font-black [&>li>a]:text-[#0d122e] [&>li>a]:bg-[#00d0fe] [&>li>a:hover]:text-[#00d0fe] [&>li>a:hover]:bg-[#0d122e] [&>li>a]:transition-colors [&>li>a]:duration-300 [&>li>a]:rounded-4xl">
                <li><a class="text-sm" href="/" >Inicio</a></li>
                <li><a class="text-sm" href="/NewsPage">Novedades</a></li>
                <li><a class="text-xs" href="/NuevosColaboradores">Nuevos Colaboradores</a></li>
                <li><a class="text-xs" href="/InfoPage">Quiénes somos</a></li>
                <li class="relative group border-white border-2 rounded-2xl items-center">
                    <a class="text-sm" href="/DepPage">Departamentos</a>
                    <ul id="subLiDep" class="h-auto w-auto hidden group-hover:flex flex-col absolute top-full left-1/2 -translate-x-1/2 items-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mb-2 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-auto max-h-60  [&>li>a]:whitespace-nowrap [&>li>a]:block">
                    <!-- Aquí se cargarán dinámicamente los departamentos -->
                    </ul>
                </li>
                <li class="relative group border-white border-2 rounded-2xl items-center">
                    <a class="text-sm" href="/Links">Links</a>
                    <ul id="subLiLink" class="h-auto w-auto hidden group-hover:flex flex-col absolute top-full right-1/2 translate-x-1/2 items-center space-y-4 p-4 bg-[#0d122e] shadow-lg border-white border-2 rounded-lg [&>li>a]:bg-white [&>li>a]:text-[#0d122e] [&>li>a]:hover:bg-[#00d0fe] [&>li>a]:hover:text-[#0d122e] [&>li]:mb-2 [&>li>a]:px-4 [&>li>a]:py-2 [&>li>a]:rounded-4xl [&>li>a]:font-black [&>li>a]:text-sm overflow-y-auto max-h-60 [&>li>a]:whitespace-nowrap [&>li>a]:block">
                    <!-- Aquí se cargarán dinámicamente los links -->
                    </ul>
                </li>
                <!-----
                <li><a id="adminBtn" href="/Admin">Admin</a></li> descomentar si se quiere mostrar el botón de admin en la barra de navegación -->
            </ul>
        </nav>

    </div>

    
</section>


    

<script>
    const URLBACK=import.meta.env.PUBLIC_BACKEND_URL || 'http://localhost'


    document.addEventListener('DOMContentLoaded', async () => {
        const subLiDep = document.getElementById('subLiDep')
        if (!subLiDep) {
            console.error('Elemento subLiDep no encontrado')
            return
        }

        interface Departamento {
            id: number
            titulo: string
            descripcion: string
            slug: string
            imagen: string
            fecha_creacion: string
        }

        try {
            const response = await fetch(`${URLBACK}/departamento/cards`, {
                credentials: 'include'
            })

            if (!response.ok) throw new Error('Error al obtener departamentos')

            
            const departamentos: Departamento[] = await response.json()
            if (!subLiDep) return []

            // Limpia el contenido previo del submenú
            subLiDep.innerHTML = ''

            // Ordena los departamentos por fecha de creación (más recientes primero)
            departamentos.sort((a, b) => new Date(b.fecha_creacion).getTime() - new Date(a.fecha_creacion).getTime())

            // Agrega cada departamento al submenú
            departamentos.forEach(dep => {
                const card = document.createElement('li')
                card.innerHTML = `
                    <a href="/departamento/${dep.slug}" class="px-4 py-2 text-white w-auto inline-block">
                        ${dep.titulo}
                    </a>
                `
                subLiDep.appendChild(card)
            })
            console.log('Departamentos cargados:', subLiDep.innerHTML)
        } catch (error) {
            console.error('Error al cargar departamentos:', error)
        }

        
        const subLiLink = document.getElementById('subLiLink')
        if (!subLiLink) {
            return
        }

        interface Link {
            id: number
            name: string
            link: string
            descripcion: string
        }

        try {
            const response = await fetch(`${URLBACK}/links/`, {
                credentials: 'include'
            })

            if (!response.ok) throw new Error('Error al obtener links')

            
            const links: Link[] = await response.json()
            if (!subLiLink) return []

            // Limpia el contenido previo del submenú
            subLiLink.innerHTML = ''

            // Agrega cada departamento al submenú
            links.forEach(link => {
                const card = document.createElement('li')
                card.innerHTML = `
                    <a href="${link.link}" target="_blank" class="px-4 py-2 text-white w-auto inline-block">
                        ${link.name}
                    </a>
                `
                subLiLink.appendChild(card)
            })
        } catch (error) {
            console.error('Error al cargar links:', error)
        }

        const toggle = document.getElementById('menuToggle')
        const mobileMenu = document.getElementById('menuHor')

        toggle?.addEventListener('click', () => {
            mobileMenu?.classList.toggle('hidden')
        })
    })
    
</script>