<section class="w-full">
    <section class="flex flex-col items-center justify-center mt-36 min-h-screen w-full">
      <div class="relative overflow-hidden px-[10vw] py-5 w-full max-w-[1920px]">
        <h2 class="text-3xl font-bold text-gray-200 text-center mb-4">Novedades</h2>
  
        <button id="preBtn" class="pre-btn absolute top-1/2 -translate-y-1/2 left-3 h-14 w-14 flex justify-center items-center z-10 rounded-2xl bg-gray-400/80 rotate-180 cursor-pointer">
          <img src="http://9.0.1.247:8081/images/arrow.png" class="opacity-20 hover:opacity-100 transition-opacity duration-200">
        </button>
  
        <button id="nxtBtn" class="nxt-btn absolute top-1/2 -translate-y-1/2 right-5 h-14 w-14 flex justify-center items-center z-10 rounded-2xl bg-gray-400/80 cursor-pointer">
          <img src="http://9.0.1.247:8081/images/arrow.png" class="opacity-20 hover:opacity-100 transition-opacity duration-200">
        </button>
  
        <div id="ultimasNoticias" class="flex overflow-x-auto gap-4 scroll-smooth scrollbar-none ">
          <!-- Aquí se cargarán dinámicamente las noticias -->
        </div>
      </div>
    </section>
</section>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
      const contenedor = document.getElementById('ultimasNoticias') as HTMLElement;
      const preBtn = document.getElementById('preBtn') as HTMLElement
      const nxtBtn = document.getElementById('nxtBtn') as HTMLElement
    
      interface Noticia {
        id: number;
        titulo: string;
        descripcion: string;
        tipo_contenido: string;
        contenido: string;
        fecha_creacion: string;
    }

    async function obtenerNoticias(): Promise<Noticia[]> {
        const res = await fetch('http://9.0.1.247:8081/noticias', {
            credentials: 'include' // Incluye cookies en la solicitud
        });
        if (!res.ok) throw new Error('Error al obtener noticias');
        const data: Noticia[] = await res.json()
        return data;
        }
    
      try {
        const noticias = await obtenerNoticias();
        const ultimasNueve = noticias.slice(0, 9);
    
        ultimasNueve.forEach((noticia) => {
          const card = document.createElement('div');
          card.className = 'bg-blue-600/10 rounded-lg shadow-md overflow-hidden w-72 min-w-[18rem] flex-shrink-0';
          
          let contenidoHTML = ""

          if (noticia.tipo_contenido === 'imagen') {
            contenidoHTML = `
            <img src="${noticia.contenido}" alt="Imagen de Noticia" class="object-contain w-full h-auto">
            `
          } else if (noticia.tipo_contenido === 'video') {
            contenidoHTML = `
                <video controls class="w-full h-48">
                    <source src="${noticia.contenido}" type="video/mp4">
                    Tu navegador no soporta videos.
                </video>
            `;
          } else if (noticia.tipo_contenido === 'texto') {
            contenidoHTML = `
              <div class="w-full h-auto bg-gray-200 flex items-center justify-center
              text-2xl text-blue-600 font-semibold text-center p-4 bg-black/40 ">
              <a href="${noticia.contenido}" target="_blank" class="hover:underline"><img src="http://9.0.1.247:8081/images/LogoBanner.png" class="object-contain w-full h-auto">Lea aquí</a>
              </div>
              `
              }
    
          card.innerHTML = `
            <div class="w-full bg-gray-200 overflow-hidden">
              ${contenidoHTML}
            </div>
            <div class="p-4">
              <h2 class="text-xl font-medium mb-2 text-gray-200">${noticia.titulo}</h2>
              <p class="text-gray-200 text-sm mb-3">${noticia.descripcion}</p>
              <p class="text-gray-400 text-sm mt-2">${new Date(noticia.fecha_creacion).toLocaleDateString()}</p>
            </div>
          `;
          contenedor?.appendChild(card);
        });
    
        // Slider funcionalidad
        const scrollAmount = contenedor.offsetWidth;
        preBtn.addEventListener('click', () => {
          contenedor.scrollLeft -= scrollAmount;
        });
        nxtBtn.addEventListener('click', () => {
          contenedor.scrollLeft += scrollAmount;
        });
    
      } catch (error) {
        console.error('Error cargando noticias:', error);
      }
    });   
</script>
