<section class="w-full">
    <section class="flex flex-col items-center justify-center mt-32 min-h-screen w-full">
        <div>
            <h2 class="text-3xl px-10 font-bold text-gray-200 text-center">Novedades</h2>
            <div id="ultimasNoticias" class="py-5 px-10 flex flex-wrap min-h-32 w-auto gap-4 text-sky-300 justify-center">
                <!-- Aquí se cargarán dinámicamente las 3 noticias -->
            </div>
        </div>
    </section>
</section>

<script>
    interface Noticia {
        id: number;
        titulo: string;
        descripcion: string;
        tipo_contenido: string;
        contenido: string;
        fecha_creacion: string;
    }

    async function obtenerNoticias(): Promise<Noticia[]> {
        const response = await fetch('http://9.0.1.247:8081/noticias');

        if (!response.ok) {
            throw new Error('Error al obtener noticias');
        }

        const noticias = await response.json();
        return noticias;
    }

    document.addEventListener('DOMContentLoaded', async () => {
        const contenedorNoticias = document.getElementById('ultimasNoticias');

        try {
            const noticias = await obtenerNoticias();
            const ultimasTres = noticias.slice(0, 3);

            ultimasTres.forEach((noticia) => {
                const card = document.createElement('div');
                card.className = 'bg-blue-600/10 rounded-lg shadow-md overflow-hidden w-full max-w-sm mb-4 mx-2';
    
                const contenidoHTML = noticia.tipo_contenido === 'imagen' ? `
                    <img src="${noticia.contenido}" alt="Imagen de Noticia" class="object-contain w-full h-auto">
                ` : noticia.tipo_contenido === 'video' ? `
                    <video controls class="w-full h-48">
                        <source src="${noticia.contenido}" type="video/mp4">
                        Tu navegador no soporta videos.
                    </video>
                ` : `
                    <div class="w-full h-auto bg-gray-200 flex items-center justify-center text-gray-500 text-center p-4">
                        ${noticia.contenido}
                    </div>
                `;
    
                card.innerHTML = `
                    <div class="w-full bg-gray-200 overflow-hidden">
                        ${contenidoHTML}
                    </div>
                    <div class="p-4">
                        <h2 class="text-xl font-medium mb-2 text-gray-200">${noticia.titulo}</h2>
                        <p class="text-gray-200 text-sm mb-3">${noticia.descripcion}</p>
                        <p class="text-gray-400 text-sm mt-2">${new Date(noticia.fecha_creacion).toLocaleDateString()}</p>
                    </div>
                `;
                contenedorNoticias?.appendChild(card);
            });
        } catch (error) {
            console.error('Error cargando noticias:', error);
        }
    });
</script>
